.header{
  text-align: left;
  font-size: 20px;
  border-radius: 20px;
  height: auto;
  background: #292b2c;

  margin:0 auto;

  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  height: auto;
  position: relative;

  //display: inline-block;
  max-width: 500px
}

body{
  background:#C0C0C0;
}

.bgp-card{
  //width:435px;
  max-width: 435px
}

.bgp-modal{
  background-color:#292b2c;
  max-width: 500px
}

.bgp-text-white{
  color:white;
}

.bgp-text-gold{
  color:#ffc000;
}
