<h2 style="text-align: center;">Who We Are</h2>
<br>

Black Gold Properties are Real Estate agents located in Johannesburg, South Africa. We specialise in the sale and rental of residential properties in Kyalami, Waterfall, Morningside, Rivonia and surrounds.

At Black Gold Properties our mission is to provide excellent service with integrity and honesty, always acting in the best interest of both the buyer and the seller. We strive to build an organisation that will be the benchmark for professionalism and service delivery.

Our slogan “All Black, but Gold” speaks to what our company represents. A 100% black owned company that delivers the gold standard every time.

<br>
<!-----<div class="bgp-logo-div" >
        <img class="bgp-logos" src="../../assets/logo1.png" alt="Logo">
        <img class="bgp-logos" src="../../assets/logo2.png" alt="Logo">
        <img class="bgp-logos" src="../../assets/logo3.png" alt="Logo">
        <img class="bgp-logos" src="../../assets/logo4.png" alt="Logo">
        <img class="bgp-logos" src="../../assets/logo5.png" alt="Logo">
        <img class="bgp-logos" src="../../assets/logo6.png" alt="Logo">

</div>---->
