<div class="container-fluid bgp-background-gray bgp-padding">
  <!------->
  <div class="header">
    <h1>Spaces </h1>
    <h5>View and maintain spaces </h5>
  </div>

    <br>
    <br>
  <!------->

  <!----Search cards-->
  <div class="col-sm-12 mb-5" >
    <button title="Add a space type" class="btn btn-outline-dark my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#addModal" title="Add a space "><i class="fas fa-plus"></i></button>
    <input  type="text" id="myFilter" class="form-control bgp-searchbox" onkeyup="searchCards()" placeholder="Search">
  </div>

  <!------->

  <!----Start of Rows-->
  <div class="row" id="myCards">
  <!------>

  <!--Start of one tile-->
      <div class="col-sm-3" *ngFor = "let x of spaces">
      <div class="card text-white bg-dark mb-3  animate__animated  animate__slideInRight bgp-card-small  bgp-card"  >
        <div class="card-body">
        <h5 class="card-title bgp-text-gold">{{x.SPACEDESCRIPTION}}</h5>
          <div class="bgp-buttons-in-cards">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="view(x.SPACEID)" title="View this space "><i class="far fa-eye"></i></button>
              &nbsp;
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#deleteModal" title="Delete this space" (click)="deleteBinding(x.SPACEID)"><i class="far fa-trash-alt"></i></button>
          </div>
        </div>
      </div>
      <br>
    </div>
  <!--End of one tile-->

  <!------>
  </div>
  <!----End of Rows-->

  <!-- Start of Edit Modal -->
    <div id="editModal" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bgp-modal">
          <div class="modal-header">
            <h4 class="modal-title bgp-text-gold" id="title">View Space</h4>
            <div class="bgp-buttons-in-cards">
              <button id="edit" class="btn btn-outline-warning my-2 my-sm-0" title="Edit this space type" onclick="editSingleAttributeCRUD('Space ')"><i class="fas fa-pencil-alt"></i></button>
            </div>
          </div>
          <div id="prompt" style="display: none;">
            <br>
            <h6 class="bgp-text-gold" style="text-align: center;">Please provide the updated space details</h6>
          </div>
          <form  ngNativeValidate (ngSubmit)="submitUpdate()">
          <div class="modal-body">
            <p class="bgp-text-bold bgp-text-gold">Description</p>
            <input disabled id="descriptionInput"  class="form-control"  id="descriptionInput" name="descriptionInput" [(ngModel)]="descriptionInput" required maxlength="50">
            <br>
            <p class="bgp-text-bold bgp-text-gold">Space Type</p>
            <input  [(ngModel)]="spacetypeInput"  disabled class="form-control"  disabled="true" id="spacetypeInput" name="spacetypeInput" >
            <select [(ngModel)]="spacetypeid" class ="form-control" name="spacetypes" id="spacetypedescriptionInput" style="visibility: hidden;" required>
              <option *ngFor="let x of spacetypes" [ngValue]="x.SPACETYPEID">{{x.SPACETYPEDESCRIPTION}}</option>
            </select>
          </div>
          <div class= "modal-footer">
            <button class="btn btn-outline-warning my-2 my-sm-0 bgp-buttons-in-cards" type="submit"  id="OKButton" style="visibility: hidden;" >Update</button>
            &nbsp;
            <button type="button" class="btn btn-default  bgp-buttons-in-cards bgp-text-white" data-dismiss="modal" onclick="window.location.reload();" >Cancel</button>
        </div>
          </form>
        </div>
      </div>
    </div>
  <!-----End of Edit Modal-->

  <!-- Start of Confirm Edit Modal -->
    <div id="confirmEditModal" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bgp-modal">
          <div class="modal-header">
            <h4 class="modal-title bgp-text-gold"> Update this space?</h4>
          </div>
          <div class="modal-body">
            <p class="bgp-text-white">{{descriptionInput}}</p>
          </div>
          <div class= "modal-footer">
            <button class="btn btn-outline-warning my-2 my-sm-0 bgp-buttons-in-cards" type="submit"    (click)="update(spaceid)">Yes</button>
            &nbsp;
            <button type="button" class="btn btn-default  bgp-buttons-in-cards bgp-text-white" data-dismiss="modal" onClick="window.location.reload();">No</button>
          </div>
        </div>
      </div>
    </div>
  <!-----End of Confirm Edit Modal-->

  <!-- Start of Add Modal -->
  <div id="addModal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bgp-modal" >
        <div class="modal-header"  >
          <h4 class="modal-title bgp-text-gold">Add Space Type</h4>
        </div>
        <br>
        <h6 class="bgp-text-gold" style="text-align: center;" id="prompt">Please provide the space details</h6>
        <form  ngNativeValidate (ngSubmit)="submitAdd()">
        <div class="modal-body">
          <p class="bgp-text-bold bgp-text-gold">Description</p>
          <input input  id="descriptionInput"  class="form-control" id="descriptionInput" name="descriptionInput"  [(ngModel)]="descriptionInput" required maxlength="50">

          <br>
              <p class="bgp-text-bold bgp-text-gold">Space Type</p>
              <select [(ngModel)]="spacetypeid" class ="form-control" name="spacetypess" id="spacetypedescriptionInput" required>
                <option *ngFor="let x of spacetypes" [ngValue]="x.SPACETYPEID">{{x.SPACETYPEDESCRIPTION}}</option>
              </select>
        </div>
        <div class= "modal-footer">
          <button class="btn btn-outline-warning my-2 my-sm-0 bgp-buttons-in-cards" type="submit"  >Add</button>
          &nbsp;
          <button  type="button" class="btn btn-default  bgp-buttons-in-cards bgp-text-white " data-dismiss="modal" onclick="window.location.reload();">Cancel</button>
      </div>
      </form>
      </div>
    </div>
  </div>
  <!-----End of Add Modal-->

  <!-- Start of Confirm Add Modal -->
    <div id="confirmAddModal" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bgp-modal ">
          <div class="modal-header">
            <h4 class="modal-title bgp-text-gold">Add this space?</h4>
          </div>
          <div class="modal-body">
            <p class="bgp-text-white">{{descriptionInput}}</p>
          </div>
          <div class= "modal-footer">
            <button class="btn btn-outline-warning my-2 my-sm-0 bgp-buttons-in-cards" type="submit" data-dismiss="modal"  data-toggle="modal"  (click)="add()">Yes</button>
            &nbsp;
            <button type="button" class="btn btn-default  bgp-buttons-in-cards bgp-text-white" data-dismiss="modal" onclick="window.location.reload();">No</button>
        </div>
        </div>
      </div>
    </div>
  <!-----End of Confirm Add Modal-->


  <!-- Start of Delete Modal -->
    <div id="deleteModal" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bgp-modal">
          <div class="modal-header modal-dialog-centered">
            <h4 class="modal-title bgp-text-gold">Are you sure you want to delete this space type?</h4>
          </div>
          <div class="modal-body">
            <p class="bgp-text-white">{{descriptionInput}}</p>
          </div>
          <div class= "modal-footer">
            <button class="btn btn-outline-warning my-2 my-sm-0 bgp-buttons-in-cards" type="submit" data-dismiss="modal"  data-toggle="modal" (click)="delete(spaceid)">Yes</button>
            &nbsp;  
            <button type="button" class="btn btn-default  bgp-buttons-in-cards bgp-text-white" data-dismiss="modal" onclick="window.location.reload();">No</button>
        </div>
        </div>
      </div>
    </div>
  <!-----End of Delete Modal-->
</div>

