<div class="bgp-centre-textbox header">
    <div >
      <form  ngNativeValidate>
        <h2 class="h1-responsive font-weight-bold text-center my-4 bgp-text-gold" >Reset Your Password</h2>
        <h5 class="bgp-text-gold">Enter new password</h5>
            <div>
                <div>
                    <input [(ngModel)]="password" placeholder="Password" type="password" id="password" name="password" class="form-control" minlength="8" required>
                </div>
            </div>
        <br>
        <h5 class ="bgp-text-gold">Confirm new password</h5>
        <div>
            <div>
                <input placeholder="Confirm Password" type="password" id="confirmpassword" name="confirmpassword" class="form-control">
            </div>
        </div>
        <br>
        <div class="text-center text-md-left" style="float:right;">
            <button class="btn btn-warning" type="submit" data-toggle="modal" (click)="resetPassword()">Reset Password</button>
        </div>
      </form>
    </div>
</div>
