<!---<br>-->

<div class="bgp-background-gray"><h2  style="text-align: center;">Administration Portal</h2> <br> </div>


                      <!-----Start of one panel-->
                      <div class="panel-group bgp-padding bgp-background-gray bgp-right-panel">

                        <div class="panel panel-default" >
                          <div class="panel-heading" >
                            <h6 class="panel-title" >
                              <a >Property</a>
                            </h6>
                          </div>
                          <div id="property" class="panel-collapse collapse show"  >
                            <ul class="list-group" >
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/property">Properties</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/propertyowner">Property Owners</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/propertydocs">Property Documents</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink='/rentalapplications'>Rental Applications</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink='/agentrentalagreements'>Rental Agreements</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink='/agentpurchases'>Purchase Offers</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink='/agentsaleagreements'>Sale Agreements</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/propertytype">Property Types</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/market-types">Market Types</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/space">Spaces</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/defect">Defects</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/space-types">Space Types</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/features">Features</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/pointofinterest">Points of Interest</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/other-building-details">Other Building Details</button>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-----End of one panel-->

                        <!-----Start of one panel-->
                      <div class="panel-group bgp-padding bgp-background-gray bgp-left-panel"  >
                        <div class="panel panel-default" >
                          <div class="panel-heading" >
                            <h6 class="panel-title" >
                              <a  >Client</a>
                            </h6>
                          </div>
                          <div id="client" class="panel-collapse collapse show"  >
                            <ul class="list-group" >
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/clients" >Clients</button>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-----End of one panel-->


                        <!-----Start of one panel-->
                        <div class="panel-group bgp-padding bgp-background-gray bgp-left-panel" >
                          <div class="panel panel-default" >
                            <div class="panel-heading" >
                              <h6 class="panel-title" >
                                <a  >Employee</a>
                              </h6>
                            </div>
                            <div id="employee" class="panel-collapse collapse show"  >
                              <ul class="list-group" >
                                <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/employees">Employees</button>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <!-----End of one panel-->

                        <!-----Start of one panel-->
                        <div class="panel-group bgp-padding bgp-background-gray bgp-left-panel" >
                          <div class="panel panel-default" >
                            <div class="panel-heading" >
                              <h6 class="panel-title" >
                                <a  >Reporting</a>
                              </h6>
                            </div>
                            <div id="reports" class="panel-collapse collapse show"  >
                              <ul class="list-group" >
                                <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/reporting">System Reports</button>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <!-----End of one panel-->


                        <!-----Start of one panel-->
                      <div class="panel-group bgp-padding bgp-background-gray bgp-left-panel">
                        <div class="panel panel-default" >
                          <div class="panel-heading" >
                            <h6 class="panel-title" >
                              <a >Location</a>
                            </h6>
                          </div>
                          <div id="location" class="panel-collapse collapse show"  >
                            <ul class="list-group" >
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/provinces">Provinces</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/cities">Cities</button>
                              <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/suburbs">Suburbs</button>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-----End of one panel-->


                        <!-----Start of one panel-->
                        <div class="panel-group bgp-padding bgp-background-gray bgp-left-panel" >
                          <div class="panel panel-default" >
                            <div class="panel-heading" >
                              <h6 class="panel-title" >
                                <a >Inspections & Valuations</a>
                              </h6>
                            </div>
                            <div id="iv" class="panel-collapse collapse show"  >
                              <ul class="list-group" >
                                <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/inspections">Inspections</button>
                                <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/valuations">Valuations</button>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <!-----End of one panel-->

                         <!-----Start of one panel-->
                         <div class="panel-group bgp-padding bgp-background-gray bgp-left-panel" >
                          <div class="panel panel-default" >
                            <div class="panel-heading" >
                              <h6 class="panel-title" >
                                <a>System Settings</a>
                              </h6>
                            </div>
                            <div id="iv" class="panel-collapse collapse show"  >
                              <ul class="list-group" >
                                <button class="list-group-item bgp-modal bgp-text-gold" routerLink="/settings">Timeout Adjustment</button>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <!-----End of one panel-->

<!-----Graph Start---->
<div back class="bgp-background-gray">
  &nbsp;
  &nbsp;
  <h2  style="text-align: center;">Business Overview</h2>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <div class="bgp-left-panel bgp-background-gray" *ngIf="chart" id="canvas-div" style="position: relative; ">
    <canvas id="pie-chart" > {{chart}} </canvas>
  </div>

  <div class="bgp-right-panel bgp-background-gray" *ngIf="chart2" id="canvas-div">
    <canvas id="canvas" > {{chart2}} </canvas>
  </div>

</div>

<!-----Graph End---->
