.bgp-modal{
  background-color:#292b2c;
}

.bgp-left-panel{
  width:50%; float:left;
}

.bgp-right-panel{
  width:50%; float:right;
}

.list-group-item:hover{
  background-color:#4a4c4e;
}

// .bgp-padding{
//   padding: 10px 10px 10px 10px;
// }
