<div class="container-fluid bgp-background-gray bgp-padding" > 
    <div class="loginDiv bgp-gray" >
        <form style="width: 100% " style="margin-left: auto; margin-right: auto" (ngSubmit)="Login()" ngNativeValidate>
            <div >
                <h2 class="h1-responsive font-weight-bold text-center my-4  bgp-text-gold" >Login</h2>
                <div>
                    <div>
                        <input [(ngModel)]="email" placeholder="Email Address" type="text" id="email" name="email" class="form-control" required pattern="[a-zA-Z0-9.-_-+%]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                    </div>
                </div>
                <br>
                <div>
                    <div>
                        <input [(ngModel)]="password" placeholder="Password" type="password" id="password" name="password" class="form-control" required>
                    </div>
                </div>
                <br>
                <div class="text-center text-md-left" style="float:right;">
                    <button type="submit" class="btn btn-warning">Sign in</button>
                </div>
            </div>
        </form>
        <a style="display: inline-block;" routerLink="/register" class="bgp-text-gold">Don't have an account?</a>
        <br>
        <a style="display: inline-block;" routerLink="/resetpassword" class="bgp-text-gold">Forgot your password?</a>
    </div>
</div> 