//Makes all html background gray
html {
  background-color: rgb(237, 237, 237);
}

//edit/delete/upload buttons
.bgp-buttons-in-cards{
  float: right;
}

//header jumbotron
.bgp-jumbotron{
  background-color: #b3b0aa;
}

//make text white
.bgp-text-white{
color:white;
}

//make text gold
.bgp-text-gold{
  color:#ffc000;
  }

//padding for all screens
// .bgp-padding{
//   padding: 10px 10px 10px;
// }

//Assign this class to any div to make the background gray
.bgp-background-gray{
  background-color:rgb(237, 237, 237);
}

//styling for the nav bar
.bgp-nav-bar{
  height: 100px;
  background-color:rgb(237, 237, 237);
}

//make any text bold
.bgp-text-bold{
font-weight: bold;
}

//Styling for the scrolling bar in cards
#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: lightgray;
  background-color: rgb(237, 237, 237);
}

#style-3::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: lightgray;
	background-color: #ffc000
}

#style-4::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: lightgray;
  background-color: rgb(237, 237, 237);
}

#style-4::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: lightgray;
	background-color: #ffc000
}

.scrollbar
{
  overflow-y: scroll;
  overflow-y: auto;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}


//SIZE OF CARDS
//Large
.bgp-card-large{
  width: 18rem; height: 15rem;
  border-radius: 10px;
  background-color: rgb(198, 198, 198);
}

//medium
.bgp-card-medium{
  width: 18rem;
  height: 12rem;
  border-radius: 10px;
  background-color: rgb(198, 198, 198);
}

//small
.bgp-card-small{
  width: 18rem;
  height: 7.5rem;
  border-radius: 10px;
  background-color: rgb(198, 198, 198);
}



.bgp-card-textbox-large{
  width: 100%;
  height: 7.5rem;
  line-height: 1rem;
}

.bgp-card-textbox-medium{
  width: 100%;
  height: 2.5rem;
  line-height: 1rem;
}

.bgp-card-textbox-small{
  width: 100%;
  height: 2.5rem;
  line-height: 1rem;
}

.header{
  padding: 40px;
  text-align: center;
  background: lightgray;
  color: black;
  font-size: 30px;
  border-radius: 10px;
  height: auto;
}

.bgp-card{
  width:100%;
}

.bgp-modal{
  background-color:#292b2c;
}

.bgp-large-modal{
  background-color:#292b2c;
  width: 40rem;
  height: 40rem;
}

.modal-footer{
  border-top: 0 none;
}

.bgp-searchbox{
  width: 200px;
  float: right;
}
.bgp-add-button{
  font-size: 30px;
  font-weight:bolder;
}

.card-title
{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}


//NEW CHANGES TO SCSS:
//Required for large modals that need a scrollbar
.bgp-large-modal{
  background-color:#292b2c;
  width: 100rem;
  height: 40rem;
}

.modal-footer{
  border-top: 0 none;
}


//Custom stylig

.halfInput{
  width: 50%;
}

.columnInput{
  width: 45%;
}

.featureWrapper {
  display: table;
}
.first {
  display: table-cell;
  //text-align: center;
  width: 50%;
  float: left;
  padding: 0px 5px 0px 0px;
}

.middleFeature {
  display: table-cell;
  //text-align: center;
  float: left;
  width: 40%;
  padding: 0px 5px 0px 5px;
}

.lastFeature {
  display: table-cell;
  //text-align: center;
  width: 10%;
  float: right;
  padding: 0px 0px 0px 5px;
}

.firstYoV {
  
  width: 50%;
  float: left;
  padding: 0px 5px 0px 0px;
}

.lastYoV {
  
  width: 50%;
  float: right;
  padding: 0px 0px 0px 5px;
}

.totalOBDFirst{
  width: 90%;
  float: left;
  padding: 0px 5px 0px 0px;
}

.totalOBDLast{
  width: 10%;
  float: right;
  padding: 0px 0px 0px 5px;
}

.firstItem {
  display: table-cell;
  width: 30%;
  float: left;
  padding: 0px 0px 0px 17px;
}

.lineItem {
  display: table-cell;
  width: 7.8%;
  float: right;
}

.firstHalf {
  //display: table-cell;
  //text-align: center;
  width: 50%;
  float: left;
  padding: 0px 5px 0px 0px;
}

.lastHalf {
  display: table-cell;
  //text-align: center;
  width: 50%;
  float: left;
  padding: 0px 0px 0px 5px;
}

//Slider styling
// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    //background: #ffc000;
    //height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: #ffc000;
  }

   .custom-slider .ng5-slider .ng5-slider-pointer {
  //   width: 8px;
  //   height: 16px;
  //   top: auto; /* to remove the default positioning */
  //   bottom: 0;
     background-color: #ffc000;
  //   border-top-left-radius: 3px;
  //   border-top-right-radius: 3px;
   }

   .custom-slider .ng5-slider .ng5-slider-pointer:after {
  //   display: none;
   }

   .custom-slider .ng5-slider .ng5-slider-bubble {
  //   bottom: 14px;
   }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    //color: orange;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
  //   width: 1px;
  //   height: 10px;
  //   margin-left: 4px;
  //   border-radius: 0;
  //   background: #ffe4d1;
  //   top: -1px;
   }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    //background: ffc000;
     background-color: #ffc000;
     color: #ffc000;
     background: #ffc000;
  }
}

.panel-heading{
 text-align: center;
}